	<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
		<button class="dl-trigger">Open Menu</button>
		<ul class="dl-menu">
			<li><a href="{{ site.url }}/">Home</a></li>
			<li>
				<a href="#">About</a>
				<ul class="dl-submenu">
					<li>
						<h4>{{ site.title }}</h4>
						<p>{{ site.description }}</p>
					</li>
					{% if site.email %}<li>
                        <a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope-square fa-fw"></i> Email</a>
                    </li>{% endif %}
                    {% if site.github-url %}<li>
                        <a href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-fw"></i> Github</a>
                    </li>{% endif %}
					{% if site.rss %}<li>
                        <a href="{{ site.url }}/feed.xml" target="_blank" rel="noopener noreferrer" download><i class="fa fa-fw">&#xf09e; </i> RSS</a>
                    </li>{% endif %}
					<li><a href="{{ site.url }}/about/"><span class="btn btn-inverse">Learn More</span></a></li>

				</ul><!-- /.dl-submenu -->
			</li>
			<li>
				<a href="#">Posts</a>
				<ul class="dl-submenu">
					<li><a href="{{ site.url }}/posts/">All Posts</a></li>
					<li><a href="{{ site.url }}/tags/">All Tags</a></li>
				</ul>
			</li>
			{% for link in site.data.navigation %}
                {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                    {% else %}
                    {% assign domain = site.url %}
                {% endif %}
		        <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener noreferrer"{% endif %}>{{ link.title }}</a></li>
		    {% endfor %}
		</ul><!-- /.dl-menu -->
	</nav><!-- /.dl-menuwrapper -->