                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
                        {% if site.email %}<a class="social-btn" href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope-square fa-fw"></i></a>{% endif %}
                        {% if site.matrix %}<a class="social-btn" href="https://matrix.to/#/@{{ site.matrix }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-comment fa-fw"></i></a>{% endif %}
                        {% if site.github-url %}<a class="social-btn" href="http://github.com/{{ site.github-url }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-fw"></i></a>{% endif %}
                        {% if site.rss %}<a class="social-btn" href="{{ site.url }}/feed.xml" target="_blank" rel="noopener noreferrer" download><i class="fas fa-rss fa-fw"></i></a>{% endif %}
                  </h3>
