body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: Fira Sans, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #383838;
  background-color: #D24D57;
  background-position: center center;
  background-attachment: fixed;
}
@media only screen and (max-width: 30em) {
  body {
    background-image: none !important;
    background: #fff;
  }
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

.header {
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: left;
  color: #fff;
}
@media only screen and (max-width: 30em) {
  .header {
    display: block !important;
  }
}
@media only screen and (max-height: 500px) {
  .header {
    display: block !important;
  }
}

.flex {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container {
  width: 36rem;
  max-width: 550px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  color: #282828;
  z-index: 1;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .container {
    width: 100%;
    box-shadow: none;
  }
}
@media only screen and (min-width: 30.1em) and (max-width: 48em) {
  .container {
    width: 80%;
  }
}

.row {
  margin-top: 15px;
  text-align: center;
}
.row .title {
  margin-top: 0;
  margin-bottom: 5px;
}
@media only screen and (max-width: 30em) {
  .row {
    padding: 0 1em;
  }
}

.wrapper {
  width: 75%;
  max-width: 850px;
  margin: 4rem auto;
  background: #fff;
  color: #383838;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .wrapper {
    width: 90%;
    padding: 2em 0;
    box-shadow: none;
  }
}

#disqus_thread {
  width: 75%;
  max-width: 850px;
  margin: -3rem auto 4rem;
  background: #fff;
  color: #383838;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  #disqus_thread {
    width: 90%;
    padding: 2em 0;
    box-shadow: none;
  }
}

.entry-meta {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #d1d1d1;
  padding-left: 0;
}
.entry-meta a {
  color: #d1d1d1;
}
.entry-meta li {
  list-style-type: none;
  display: inline;
}
.entry-meta .tag {
  display: inline-block;
  border: 1px solid;
  border-color: rgba(229, 230, 233, 0.5) rgba(223, 224, 228, 0.5) #d0d1d5;
  border-radius: 3px;
  text-decoration: none;
  background-color: #fff;
  color: #383838;
  transition: 0.75s;
  margin: 2px 5px;
}
.entry-meta .tag span {
  float: left;
  padding: 2px 6px;
}
.entry-meta .tag .count {
  background-color: #d9d9d9;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.entry-meta .tag:hover {
  background-color: #d9d9d9;
  box-shadow: 0 0 1px 0 rgba(40, 40, 40, 0.5);
}

header .entry-meta {
  display: none;
}
@media only screen and (min-width: 48em) {
  header .entry-meta {
    display: block;
  }
}

.entry-title a {
  text-decoration: none;
}

.entry-tags {
  display: block;
  margin-top: 1rem;
  width: 40%;
  float: left;
  text-align: left;
}

.social-share {
  display: block;
  margin-top: 1rem;
  width: 60%;
  float: right;
  text-align: right;
}

.feature {
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .feature {
    background-image: none !important;
  }
}
@media only screen and (min-width: 30.1em) and (max-width: 48em) {
  .feature {
    color: white;
    padding: 4em;
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: -2rem;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
  }
}
@media only screen and (min-width: 48em) {
  .feature {
    color: white;
    padding: 10em;
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: -2rem;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  display: table;
}

.popup h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
}

/* If the screen size is 770px wide or less (Ipad size), set the font-size of popup div to 12px */
@media screen and (max-width: 770px) {
  .popup .content p {
    font-size: 12px;
  }
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}/*# sourceMappingURL=site.css.map */