---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>

                    <p class="reading-time">
                        <i class="far fa-calendar"></i> {{ page.date | date_to_string }} / <i class="far fa-clock"></i> {% include read-time.html content=content %}
                    </p><!-- /.entry-reading-time -->
                    
                    {% if page.project %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% endif %}
                    <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
                <div id="monero" class="overlay">
                    <div class="popup">
                        <h2>Monero address</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p>84QRpjRZhXqebshV4PQJhCgAhPWpRLp4nezGDDTUzzYYP7rvwXsM3htdpQdtfxwTnybZcowphp9EG2aPxDFYaFgVD7Xmbng</p>
                            <img src="assets/img/monero.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    {% if page.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
