---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title {% if page.feature %} feature {% endif %}">
                    <h1>{{ page.title }}</h1>

                    <p class="reading-time">
                        <i class="far fa-calendar"></i> {{ page.date | date_to_string }} / <i class="far fa-clock"></i> {% include read-time.html content=content %}
                    </p><!-- /.entry-reading-time -->
                    
                    {% if page.category == 'posts' %}
                    <a class="btn zoombtn" href="{{site.url}}/posts/">
                    {% elsif page.category == 'seasons'%}
                    <a class="btn zoombtn" href="{{site.url}}/seasons/">
                    {% else %}
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% endif %}
                    <i class="fa fa-chevron-left"></i>
                    </a>
                </div>
                {{ content }}
                {% if page.comments and site.commento-url %}
                    <hr>
                    <div>
                        <h1 style="margin-bottom: 0">Comments</h1>
                        Anonymous comments will be manually approved.
                    </div>
                    <script defer src="https://{{ site.commento-url }}/js/commento.js" data-css-override="../../assets/css/main.css"></script>
                    <div id="commento"></div>
                {% endif %}
                {% include meta.html %}
                <div id="donate" class="overlay">
                    <div class="popup">
                        <a class="close" href="#return">&times;</a>
                        <div style="margin-top: 10px;"></div>
                            {% if site.monero %}
                                <h2>Monero address</h2>
                                <p>{{ site.monero.address }}</p>
                                <img src="{{ site.monero.qr }}">
                            {% endif %}
                            {% if site.kofi %}
                            <h2>Ko-Fi</h2>
                            <a href="https://ko-fi.com/{{ site.kofi }}"><p style="text-align:center">https://ko-fi.com/{{ site.kofi }}</p></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    {% if page.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
</body>
</html>
